@charset "UTF-8";

.logouted {
position: absolute;
width: 736px;
height: 48px;
left: 40%;
top: 15%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.tologin {
	position: absolute;
	width: 15%;
	height: 30px;
	left: 42%;
	top: 50%;
	background: #FF5959;
	mix-blend-mode: darken;
	border: 1px solid #FF5959;
	box-sizing: border-box;
	border-radius: 20px;
	color: white;
}